name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: true

jobs:
  empower-plant-release:
    name: Release Build of EmpowerPlant
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - run: brew install xcbeautify
        shell: sh
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Cache CocoaPods installation
        id: cache_cocoapods
        uses: actions/cache@v3
        with:
          path: ./Pods
          key: test-server-${{ hashFiles('./Podfile.lock') }}
      - run: bundle exec pod install
        if: steps.cache_cocoapods.outputs.cache-hit != 'true'
        shell: sh
      - name: Run Deploy Script
        run: ./deploy_project.sh ${{ github.event.inputs.version }}
        shell: sh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
